[Desktop Entry]
Version=1.0
Name=PAC Startup
Comment=running pir activated camera 
Exec=xterm -hold -e 'bash /home/pi/tinyOkayProjects/pir_activated_cam/runFromStartup.sh'
Path=/home/pi/tinyOkayProjects/pir_activated_cam/
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Application
